<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="intro">
        <h1>Every idea begins as a single image</h1>
    </section>
    <section class="sticky">
        <div class="sticky-header">
            <h1>Three pillers with one purpose</h1>
        </div>

        <div class="card-container">
            <div class="card" id="card-1">
                <div class="card-front">
                    <img src="/primaryLeft.png" alt="">
                </div>
                <div class="card-back">
                    <span>(01)</span>
                    <p>interactive web Experiences</p>
                </div>
            </div>

             <div class="card" id="card-2">
                <div class="card-front">
                    <img src="/primaryC.png" alt="">
                </div>
                <div class="card-back">
                    <span>(01)</span>
                    <p>Thoughtful design language</p>
                </div>
            </div>

             <div class="card" id="card-3">
                <div class="card-front">
                    <img src="/primaryR.png" alt="">
                </div>
                <div class="card-back">
                    <span>(01)</span>
                    <p>Visual Design System</p>
                </div>
            </div>
        </div>
    </section>
    <sectio class="outro">
          <h1>Every transition leaves a trace</h1>
    </section>
    <script type="module" src="/script.js">
    </script>
</body>
</html> 